<!DOCTYPE html>
<html>
  <head>
    <title>Cancellation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div>
      <div>
        <div>
          <form method="GET" action="/cancel">
            <div class="container">
    <h1>Cancel ticket</h1>
    
            <div>
             <br> Name: <input type="text" id="username" name="username" required>
            </div>
                         
			<div>
			<br>Ticket number: <input type="text" id="tnumber" name="tnumber" required><br>
            </div>

			<div>
			<br>Train Number: <input type="text" id="tno" name="tno" required><br>
            </div>

			<div>
			<br>Cancellation Date: <input type="date" id="date" name="date" required><br>
            </div>

						
    <br>If any clarification send email to <a href="#" style="color:dodgerblue">railwaytourism@gmail.com</a>.

            <div>
             <br> <button type="submit">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>