<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
<!--===============================================================================================-->

</head>
<body background = "download.jpg">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="GET" action="users/auth">
					<span class="login100-form-title">
						<p><h2>Welcome to Indian Railways!</h2>
						<p><h3>Already Registered? Login</h3><p>
						<p> New User? Create Account.</p>
						<a href="/signup">Sign UP </a></p>
						<p>To cancel ticket, click here</p>
						<a href="/cancel"> Cancel</a>
					</span>	

					 
		  
					<div validate-input m-b-16" data-validate="Please enter username">
					
						<p><b>ENTER USERNAME:<input class="input100" type="text" id="username" name="username" placeholder="Username"><p>
						<span class="focus-input100"></span>
					</div>

					<div validate-input" data-validate = "Please enter password">
						<p><b>ENTER PASSWORD:<input class="input100" type="password" id="password" name="password" placeholder="Password"><p>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<p><button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	
  <script src="/javascripts/main.js"></script>

</body>
</html>








