<!DOCTYPE html>
<html>
  <head>
    <title>Railway Reservation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div>
      <div>
        <div>
          <form method="GET" action="/signup">
            <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form.</p>

            <div>
             <br> Name: <input type="text" id="username" name="username" required>
            </div>
                         
			<div>
			<br>Address: <input type="text" id="address" name="address" required><br>
            </div>

			<div>
			<br>Phone Number: <input type="text" id="phone" name="phone" required><br>
            </div>

			<div>
			<br>Date: <input type="date" id="date" name="date" required><br>
            </div>

			<div>
				<br>Source:<p>
				<select name="src">
				<option value="Coimbatore">Coimbatore</option>
				<option value="Chennai">Chennai</option>
				<option value="Hyderabad">Hyderabad</option>
				<option value="Bengaluru">Bengaluru</option>
			  </select>
			  <br><br>
            </div>

			<div>
				Destination<p>
				<select name="destn">
				<option value="Delhi">Delhi</option>
				<option value="Coimbatore">Coimbatore</option>
				<option value="Chennai">Chennai</option>
				<option value="Hyderabad">Hyderabad</option>
				<option value="Bengaluru">Bengaluru</option>
			  </select>
			  <br><br>
            </div>

			<div>
			<br>Select Class<br>
              <input type="radio" name="sclass" value="Sleeper" checked> Sleeper<br>
			  <input type="radio" name="sclass" value="FirstClass "> FirstClass<br>
			  <input type="radio" name="sclass" value="SideSleeper"> SideSleeper<br>
            </div>

			<div>
             <br> No. Of persons: <input type="text" id="pcount" name="pcount" required>
            </div>
			
    <br>If any clarification send email to <a href="#" style="color:dodgerblue">railwaytourism@gmail.com</a>.

            <div>
             <br> <button type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>